<!DOCTYPE HTML>
<html>
	<head>
		{%block tittle%}
		<title>Libreria</title>
		{%endblock%}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename= 'css/main.css')}}"/>
	</head>
	<body>
		<h1>María Jesús Alloza Rodríguez</h1>
        <h2>Biblioteca</h2>
        <ul>
            {% for element in libros %}
                {% if element.isbn %}
                    <li><a href="/libro/{{element.isbn}}">{{element.title}}</a></li>
                {% else %}
                    <li><a href="/">{{element.title}} (No tiene ISBN)</a></li>
                {% endif %}
                <br>
            {% endfor %}
        </ul>
	</body>
</html>